.details-page{
    padding: .5rem 3rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 1.5rem;
}

.details-container{
    display: flex;
    align-items: center;
    gap: 4rem;
    border-bottom: 1px solid var(--text-color);
}

.details-about{
    width: 70%;
}

.details-cover{
    width: 30%;
}

.details-actions button{
    font-family: 'Oswald', sans-serif;
    font-size: 1.25rem;
    border: 1px solid var(--text-color);
    background-color: inherit;
    color: var(--text-color);
    padding: .5rem 1rem;
    margin-right: 1rem;
    cursor: pointer;
    transition: background-color var(--animation-reg);
}

.details-actions button:hover{
    background-color: var(--text-color);
    color: var(--main-color);
}

.details-cover span{
    color: goldenrod;
}

.episodes-container{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.episode-display{
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;
}

.episode-display h3{
    margin: 0;
}

.episode-display img{
    width: 40%;
}