.movies-page{
    padding-bottom: 2rem;
}

.slider-wrapper{
    position: relative;
}

.slider{
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    max-width: 100%;
}

.slider-nav{
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slider-nav button{
    border: none;
    background-color: white;
    padding: .35rem;
    border-radius: .35rem;
    margin: 0 .5rem;
    cursor: pointer;
}

.slider::-webkit-scrollbar{
    display: none;
}

.slider-item{
    background-size: cover;
    background-position: center;
    flex: 1 0 100%;
    scroll-snap-align: center;
    scroll-behavior: smooth;
}

.slider-text{
    padding: 5rem;
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider-text iframe{
    margin-top: 1.5rem;
    width: 100%;
}

.display-cover h1, .display-about h3{
    margin: 0;
}

.display-cover h3 span{
    color: goldenrod;
}

.display-cover{
    font-size: 1.75rem;
    width: 50%;
}

.display-about{
    font-size: 1.25rem;
    font-weight: 300;
    text-transform: uppercase;
    width: 40%;
}

.display-about h3{
    font-weight: 400;
}

.big img{
    height: 500px;
}

@media screen and (max-width: 500px) {
    .slider-text{
        display: block;
        padding: .5rem;
    }

    .slider-text iframe{
        width: 100%;
    }
    
    .display-cover, .display-about{
        width: 100%;
        font-size: 1.5rem;
    }
}