@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

:root{
    --bg-color: #141414;
    --text-color: white;
    --main-color: darkred;

    --animation-reg: 200ms;
    --animation-slow: 400ms;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}